@import '../../../../styles/variables.scss';
@import '../../../../styles/fonts/index.scss';


.productdescription{
    //.productdescription__container{}
    &__container{
        padding: 10px;
        // width: calc(100vw - 60px);
        width: 100%;
        box-shadow: -16px -16px 32px rgba(222, 226, 242, 0.2), 16px 16px 32px rgba(222, 226, 242, 0.3);

    }
    //.productdescription__inner-title{}
    &__inner-title{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding-right: 25px;
        margin-bottom: 20px;
        @extend %font;
        font-weight: 900;
    }
    //.productdescription__text-article{}
    &__text-article{
        @extend %font;
        font-size: 15px;
        font-weight: 200;
        text-transform: uppercase;
        &>strong{
            text-transform: none;
        }

    }
    //.productdescription__row{}
    &__row{
        line-height: 22px;
        letter-spacing: 1px;
    }

}

//.productdescription__text{}


