@import '../../../styles/variables.scss';

//.news-details{}
.news-details {
  position: relative;
  display: flex;
  justify-content: center;

  &__wrapper {
    position: relative;
    display: flex;
    justify-content: center;

    @include tablet-lg {
      justify-content: start;
    }

    &-btn {
      max-width: 984px;
      width: 100%;
      margin-top: 10px;
      margin-bottom: 20px;

      @include tablet-lg {
        padding-left: 30px;
      }

      @include mobile {
        padding-left: 15px;
      }
    }
  }

  //.news-details__page-container{}
  &__page-container {
    max-width: 984px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 30px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);

    @include tablet-lg {
      max-width: 100vw;
    }

    @include mobile {
      padding: 30px 15px;
    }
  }

  //.news-details__line{}
  &__line {
    height: 2px;
    background-color: var(--gx-color-primary);
    margin-bottom: 15px;
  }

  //.news-details__date{}
  &__date {
    text-align: center;
    margin-bottom: 0;
  }

  //.news-details__slide{}
  &__slide {
    position: relative;
    width: 288px;
    height: 288px;
    display: flex;

    //.news-details__slide-item{}
    &-item {
      width: 288px;
      height: 288px;
      object-fit: cover;
    }
  }

  //.news-details__slider{}
  &__slider {
    position: relative;
    max-width: 100%;

    .swiper-slide {
      width: 288px;
      height: 288px;
    }

    .swiper {
      &-button {

        &-prev,
        &-next {
          width: 70px;
          height: 70px;
          z-index: 10;
          top: 425px;

          &::before {
            background-color: var(--gx-color-white);
          }

          &::after {
            background-color: var(--gx-color-white);
            background-image: url('../../../images/icon/slider-arrow-left.svg');
            background-repeat: no-repeat;
            background-size: 40px 40px;
            background-position: center;
            font-size: 0;
            width: 100%;
            height: 100%;
            box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.11);
            border-radius: 2px;
            z-index: -1;
          }

          @include laptop-sm {
            width: 30px;
            height: 30px;
            background-size: 20px 20px;
          }

          @include tablet-lg {
            display: none;
          }
        }

        &-prev {
          left: -6px;

          &::after {
            transform: rotate(45deg);
          }

          @include laptop-sm {
            left: 20px;
          }
        }

        &-next {
          // transform: scale(-1, 1);
          right: -6px;

          &::after {
            transform: rotate(45deg);
          }

          @include laptop-sm {
            right: 20px;
          }
        }
      }
    }
  }

  //.news-details__wrapper-button{}
  &__.wrapper-button {
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
  }
}