@import '../../../styles/variables.scss';

.catfilter {
  position: relative;
  
  //.catfilter__mob{}
  &__mob {
    @include tablet-md {
      display: none;
    }

    //.catfilter__mob--visible{}
    &--visible {
      @include tablet-md {
        display: block;
        padding-left: 10px;
        padding-right: 10px;
        position: absolute;
        z-index: 9999;
        background-color: $w;
        width: 100%;
        top: -78px;
        height: 100vh;
      }

    }
  }
  //.catfilter-block{}
  &-block {
    margin-bottom: 25px;
    position: relative;
    z-index: 444;
    min-width: 250px;
    max-width: 320px;
    
    &:nth-last-child(2){
      padding-bottom: 100px;      
    }
    &:last-child{
      display: none;
      @include mobile {
        display: flex;
      }
    }
    //.catfilter-block__heading{}
    &__heading {
      @extend %cab-h2;
      margin-bottom: 15px;
      margin-top: -5px;
    }

    //.catfilter-block__content{}
    &__content {
      padding: 0;
    }

    //.catfilter-block__bottom{}
    &__bottom {
      @include flex(sc);
      @extend %text-link;
      // flex-wrap: wrap;
      justify-content: space-around;
    }

    //.catfilter-block__toggle{}
    &__toggle {
      background-color: transparent;
      color: $b;
      border: none;
      font-size: 12px;
      width: 100px;
      display: block;
      padding: 0;
      text-align: left;

      &:hover {
        outline: none;
        box-shadow: none;
      }

      &:active {
        outline: none;
        box-shadow: none;
      }

      &:focus {
        box-shadow: none;
        outline: none;
      }
    }

    //.catfilter-block__reset{}
    &__reset {
      background-color: transparent;
      color: $rd;
      border: none;
      font-size: 12px;
      line-height: 140%;
      width: 100%;
      padding: 0;
      display: block;
      text-align: right;

      &:hover {
        outline: none;
        box-shadow: none;
      }

      &:active {
        outline: none;
        box-shadow: none;
      }

      &:focus {
        box-shadow: none;
        outline: none;
      }
    }
  }

  //.catfilter-item{}
  &-item {
    margin: 10px 0;
    position: relative;
    @include flex(sc);
    cursor: pointer;
    > div{  
      label {
        color: #000;
      }
    }

    &__count {
      flex-shrink: 0;
      font-size: 12px;
      color: $p;
      opacity: 0.5;
    }
  }

  &-search {
    margin-bottom: 10px;
    &>div{
      min-width: 250px !important;
    }
  }

  //.catfilter{}
  &-scroll {
    overflow: hidden;
    max-width: 100%;
    max-height: 232px;
    padding-right: 5px;

    //.catilter-scroll__category-mafrkup{}
    &-category-markup {
      max-height: 260px;
      overflow: scroll;
    }

    &.active {
      max-height: fit-content;
    }

    &::-webkit-scrollbar {
      width: 4px;
      height: 4px;
      background-color: $w;
    }

    &::-webkit-scrollbar-thumb {
      background: $dg;
      border-radius: 2px;
    }

    //.catfilter-scrollwrap{}
    &wrap {
      border-top: 2px solid #f3eff3;
      border-bottom: 2px solid #f3eff3;
    }
  }

  //.catfilter-showme{}
  &-showme {
    background: $a2;
    color: $w;
    font-weight: bold;
    height: 40px;
    line-height: 38px;
    padding: 0 20px 0 25px;
    position: fixed;
    left: 115px;
    z-index: 99999;

    @include flex(lc);
    // top: 50%;
    transform: translate(170px, -50%);
    cursor: pointer;
    clip-path: polygon(8% 0%, 100% 0%, 100% 100%, 8% 100%, 0% 50%);
    border-radius: 4px;

    &:hover {
      background-color: rgb(226, 67, 141);
    }

    @include mobile {
      display: none;
    }

    //.catfilter-showme__label{}
    &__label {
      padding: 0;
    }

    //.catfilter-showme--rigth{}
    &--rigth {
      left: 72%;
      transform: scale(-1, -1) translate(0px, 12px);

      span {
        transform: scale(-1, -1);
      }
    }
  }
}

//.buttons__wrapper{}
.buttons {
  &__wrapper {
    display: none;

    @include tablet-md {
      @include flex(sc);
      position: fixed;
      bottom: 0px;
      height: auto;
      min-height: 90px;
      left: 0;
      width: 100%;
      background-color: $w;
      z-index: 445;
      justify-content: space-around;
      align-items: center;
    }
   
  }

}