@import '../../../styles/variables.scss';
@import '../../../styles/fonts/index.scss';
@import './filters.module.scss';

.catalog {
  &-search {
    display: flex;
    justify-content: flex-end;

    &__text {
      color: #000000;
    }
  }
//.catalog-row{}
  &-row {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 250px minmax(0,1fr);
    // @include row(15);
    // justify-content: flex-end;
    margin-top: 10px;

    @include laptop-sm {

      margin-left: 0;
      margin-right: 0;
    }

    @include tablet-md {
      grid-template-columns: minmax(0, 1fr);

    }

    &--nomargin {
      margin-top: 0;
    }
  }
  //.catalog--left{}
  &--left {
    position: relative;
    width: 100%;
  }

  //.catalog--right{}
  &--right {
    position: relative;
    overflow: hidden;
    width: 100%;

  }
  //.catalog-menu{}
  &-menu {
    font-size: 16px;
    letter-spacing: 0.2px;
    margin-bottom: 40px;

    @include mobile {
      display: flex;
      overflow-x: scroll;
      padding-left: 10px;
      padding-right: 10px;
      margin-bottom: 20px;
    }
    //.catalog-menu__item{}
    &__item {
      margin-bottom: 5px;

      @include mobile {
        padding: 9px 15px;
        background-color: $g2;
        margin-right: 6px;
        height: max-content;
      }
    }
    //.catalog-menu__link{}
    &__link {
      color: $p;
      position: relative;
      display: inline-block;
      border-radius: 4px;
      padding: 0 4px;
      cursor: pointer;

      &.active {
        background: $pil;
      }

      &:hover {
        color: $a2;
      }

      &:after {
        width: 10px;
        height: 10px;
        content: '';
        display: none;
        flex-shrink: 0;
        position: absolute;
        top: 7px;
        right: -10px;
      }

      @include mobile {
        width: max-content;
      }
    }
    //.catalog-menu__parent{}
    &__parent {}

    &__parent>&__link:after {
      display: block;
      cursor: pointer;
      background: url('../../../images/icon/arrowRightCatalog.svg') center no-repeat;

      @include mobile {
        display: none;
      }
    }
    //.active{}
    &__parent.active>&__link {
      color: $a2;
      background-color: transparent;
      cursor: pointer;
      padding-right: 6px;
      // @include mobile {
      //   &:after {
      //     display: none;
      //   }
      // }

      &:after {
        display: block;
        background: url('../../../images/icon/arrowDownCatalog.svg') center no-repeat;

        @include mobile {
          display: none;
        }
      }
    }
    //.catalog-menu__sub{}
    &__sub {
      margin-left: 15px;
      margin-top: 5px;
    }
  }

  &-heading {
    @include h(2);
    text-transform: uppercase;
    margin-bottom: 15px;
  }
//.catalog-sort{}
  &-sort {
    max-width: 230px;
    margin-bottom: 20px;

    @include mobile {
      max-width: none;
      width: 100%;
    }
  }
//.catalog-tags{}
  &-tags {
    @include flex(lt);
    flex-wrap: wrap;
    margin-bottom: 10px;

    @include mobile {
      flex-wrap: nowrap;
    }
  }

  //.catalog-tagclear{}
  //.catalog-tag{}
  &-tag,
  &-tagclear {
    @include flex(lc);
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 7px 7px 7px 12px;
    border-radius: 16px;
    color: $w;
    @extend %text-small;
    background: $a2;
    cursor: pointer;
    transition: 0.2s;

    & div {
      @include mobile {
        width: max-content;
      }
    }

    &__label {
      font-weight: bold;
      margin-right: 4px;
    }

    &:after {
      width: 20px;
      height: 20px;
      background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEwIDBDMTUuNTMgMCAyMCA0LjQ3IDIwIDEwQzIwIDE1LjUzIDE1LjUzIDIwIDEwIDIwQzQuNDcgMjAgMCAxNS41MyAwIDEwQzAgNC40NyA0LjQ3IDAgMTAgMFpNMTMuNTkgNUwxMCA4LjU5TDYuNDEgNUw1IDYuNDFMOC41OSAxMEw1IDEzLjU5TDYuNDEgMTVMMTAgMTEuNDFMMTMuNTkgMTVMMTUgMTMuNTlMMTEuNDEgMTBMMTUgNi40MUwxMy41OSA1WiIgZmlsbD0id2hpdGUiLz4KPC9zdmc+Cg==') center no-repeat;
      display: block;
      margin-left: 10px;
      flex-shrink: 0;
      content: '';
      transition: 0.2s;
    }

    &:hover {
      opacity: 0.8;

      &:after {
        transform: scale(1.1);
      }
    }
  }
//.catalog-tag__value{}
  &-tag__value{
    padding: 0;
  }
//.catalog-tag__label{}
  &-tag__label{
    padding: 0;
  }

  //.catalog-tagclear{}
  &-tagclear {
    background: $g;
    color: $p;

    &:after {
      background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEwIDBDMTUuNTMgMCAyMCA0LjQ3IDIwIDEwQzIwIDE1LjUzIDE1LjUzIDIwIDEwIDIwQzQuNDcgMjAgMCAxNS41MyAwIDEwQzAgNC40NyA0LjQ3IDAgMTAgMFpNMTMuNTkgNUwxMCA4LjU5TDYuNDEgNUw1IDYuNDFMOC41OSAxMEw1IDEzLjU5TDYuNDEgMTVMMTAgMTEuNDFMMTMuNTkgMTVMMTUgMTMuNTlMMTEuNDEgMTBMMTUgNi40MUwxMy41OSA1WiIgZmlsbD0iI0Q3RDBEOCIvPgo8L3N2Zz4K') center no-repeat;
    }
  }
}

//.wrapper__product{}
.wrapper__product {
  padding-top: 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-flow: row;
  gap: 10px;
  margin-bottom: 75px;
  grid-template-rows: minmax(388px, 1fr);

  @include laptop-lgm {
    grid-template-columns: repeat(4, 1fr);
  }

  @include tablet-lgl {
    grid-template-columns: repeat(3, 1fr);
  }

  @include tablet-mmdl {
    grid-template-columns: repeat(2, 1fr);
  }

  @include tablet-md {
    grid-template-columns: repeat(3, 1fr);
  }

  @include mobile-mmlg {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }
  @include mobile-lgm {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
  }
  //.wrapper__product-export-card{}
  &-export-card{
    border: 1px solid #f1f1f1;
      padding: 30px;
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      grid-gap: 10px;
      max-height: 1075px;
      overflow-y: auto;
      @include tablet-lg {
        grid-template-columns: repeat(5, 1fr);
      }
      @include tablet-md {
        grid-template-columns: repeat(4, 1fr);
      }
      @include mobile {
        grid-template-columns: repeat(3, 1fr);
      }
      @include mobile-lg {
        grid-template-columns: repeat(2, 1fr);
      }
  }
}

//.
.already-watched {

  //.already-watched__wrapper{}
  &__wrapper {}

  //.already-watched__card-set{}
  &__card-set {
    display: flex;
  }
}

.spinner {
  //.spinner__wrapper{}
  &__wrapper {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 120px;
//.spinner__wrapper-popup{}
    &-popup {
      width: 100%;
      height: 300px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      position: sticky;
      z-index: 99999;
      font-size: 45px;
      background-color: rgba(202, 144, 144, 0.3);
    }
  }

}

.empty-catalog {
//.empty-catalog__wrapper{}  
  &__wrapper {
    width: 100%;
    height: 300px;
  }
}

.cart {
  //.cart__empty
  &__empty {
    // padding-top: 40px;
    padding-bottom: 60px;
    @include tablet-lg {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

