@import '../../styles/variables.scss';
@import '../../styles/fonts/index.scss';


//.product-card{}
.product-card {
  position: relative;
  width: 100%;
  max-width: 245px;
  min-width: 100%;
  // min-height: 428px; // Fix FASHTOWN-200
  background-color: var(--gx-color-white);
  &:hover {
    transform: scale(1.1);
    z-index: 99;
  }
  @include mobile {
    min-height: auto;
    max-width: 320px; //?! сделать 320 чтобы одна картачка на экран ???????
    display: grid;
    justify-items: center;
    &:hover {
      transform: none;
    }
  }

  //.product-card__wrap{}
  &__wrap {
    position: relative;
    width: 100%;
    max-width: 245px;
    background-color: var(--gx-color-white);
    overflow: hidden;
    z-index: 0;
    padding: 0 10px;
    height: fit-content;

    &:hover {
      @media (min-width: 768px) {

        z-index: 2;
        max-width: 265px;
        // width: calc(100% + 20px);
        top: 0%;
        box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.11);
        z-index: 1;
        // margin-bottom: 10px;
        overflow: visible;

        .product-card__bottom {
          width: 100%;
          opacity: 1;
          visibility: visible;
          height: 70px;
          z-index: 2;
          position: absolute;
          top: 100%;
          display: flex;
          flex-direction: column;
          left: 0;
        }

        // .product-card__overlay {
        //   transition: 0.3s;
        //   height: auto;
        //   padding: 10px;
        // }
        .product-card__link {
          display: flex;
        }
      }
    }
  }

  //.product-card__top{}
  &__top {
    position: relative;
    padding-top: 10px;
    overflow: hidden;
  }

  //.product-card__tag{}
  &__tags {
    position: absolute;
    top: 25px;
    left: 15px;
    // width: calc(100% - 50px);
    height: auto;
    @include flex(lc);
    z-index: 2;
  }

  //.product-card__stock{}
  &__stock {
    position: absolute;
    top: 13px;
    right: 3px;
    padding: 0 6px;
    font-weight: 500;
    text-transform: none;
    // font-family: 'Nato Sans', sans-serif;
    @extend %font;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.03em;
    color: var(--gx-color-accent2);
    background: rgba(247, 244, 252, 0.75);
    border: 1px solid var(--gx-color-accent2);
    z-index: 2;
  }

  //.product-card__slider{}
  &__slider {
    position: relative;
    width: 100%;
    max-width: 100%;
    @include flex(lc);
    flex-wrap: nowrap;
    z-index: 0;
    margin-bottom: 10px;
    min-height: 270px;

    &>div.product-card__slider-pagination {
      position: absolute;
      bottom: -10px;
    }

    &-pagination {
      position: absolute;
      content: '';
      left: 0;
      bottom: -10px;
      height: auto;
      @include flex(cc);

      :global {
        .swiper-pagination-bullet {
          width: 5px;
          height: 5px;
          margin: 0 !important;
          margin-right: 5px !important;
          border-radius: 1px;
          background-color: var(--gx-color-darkgray);
          z-index: 10;

          &-active {
            background-color: var(--gx-color-accent2);
          }

          &:last-child {
            margin: 0;
          }
        }
      }
    }

    &-pagination {
      :global {
        .swiper-pagination-bullet2 {
          width: 25%;
          height: 100%;
          z-index: 10;
          background: transparent;

          &-active {}

          &:last-child {
            margin: 0;
          }
        }
      }
    }
  }

  //?! ?????
  &__overlay {
    position: absolute;
    content: '';
    width: 100%;
    // font-family: 'Nato Sans', sans-serif;
    @extend %font;
    line-height: 140%;
    font-size: 12px;
    letter-spacing: 0.04em;
    color: var(--gx-color-white);
    height: auto;
    left: 0;
    bottom: 0;
    transition: 0.4s;
    background: linear-gradient(224.4deg,
        rgba(239, 239, 242, 0.15) 10.01%,
        rgba(242, 242, 242, 0.15) 46.05%,
        rgba(240, 240, 243, 0.15) 65.72%,
        rgba(243, 243, 246, 0.15) 96.27%,
        rgba(243, 243, 246, 0.15) 96.27%);
    box-shadow: inset 0px -10px 10px rgba(164, 179, 255, 0.15),
      inset 0px 10px 10px rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    z-index: 2;
    overflow: hidden;
    height: 0px;
  }

  //?! ?????
  &__option {
    margin: 0;
    margin-bottom: 10px;

    &-title {
      opacity: 0.7;
    }

    &-text {
      &_accent {
        color: var(--gx-color-lightpink);
      }
    }

    &:last-child {
      margin: 0;
    }
  }

  // .product-card__image{}
  &__image {
    // height: 298.66px !important;
    overflow: hidden;
    height: max-content;
    width: 100%;

    //.product-card__image-container{}
    &-container {
      width: 100%;
    }

    &::after {
      content: '';
      background-image: url('../../images/ProductCard/default-image.png');
      background-size: cover;
      height: 100%;
      width: 100%;
      top: 0px;
      position: absolute;
      display: block;
      z-index: -1;
    }

    //.product-card__image-item{}
    &-item {
      position: relative;
      min-height: 270px;

      &::after {
        position: absolute;
        left: 0;
        top: 0;
        content: '';
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(88, 63, 76, 0) 0%, rgba(88, 63, 76, 0.6) 100%);
      }
    }

    //.product-card__image-img{}
    &-img {
      display: block;
      height: 298.66px;
      object-fit: cover;
      z-index: 2;
      width: 100%;

      @include mobile {
        height: 270px;
        width: 100%;

      }
    }
  }

  //.product-card__head{}
  &__head {
    position: relative;
    margin-top: 14px;
    margin-bottom: 0px;
    pointer-events: none;
  }

  //.product-card__favorite{}
  &__favorite {
    cursor: pointer;
    position: absolute;
    z-index: 10000;
    top: -10px;
    right: 20px;    
    line-height: 1;
    transform: translateX(-5px);
    pointer-events: all;
  }

  //.product-card__brand{}
  &__brand {
    text-align: left;
    @extend %font;
    font-weight: 600;
    font-size: 10px;
    line-height: 140%;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: var(--gx-color-primary);
    opacity: 0.25;
    pointer-events: none;
  }

  //.product-card__name{}
  &__name {
    margin-bottom: 8px;
    font-weight: normal;
    text-align: left;
    text-transform: none;
    @extend %font;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0.04em;
    padding-top: 5px;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 36px;

    a {
      color: var(--gx-color-primary);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  //.product-card__prices{}
  &__prices {
    @include flex(lt);
    flex-direction: column-reverse;
    min-height: 36px;
  }

  //.product-card__price{}
  &__price {
    @extend %font;
    font-size: 16px;
    line-height: 140%;
    text-transform: uppercase;
    font-weight: 600;

    //.product-card__price--new{}
    &--new {
      @extend %font;
      color: var(--gx-color-red);
      margin-right: 5px;
    }

    //.product-card__price--old{}
    &--old {
      font-weight: normal;
      text-decoration: line-through;
      @extend %font;
      font-size: 12px;
      line-height: 120%;
      letter-spacing: 0.04em;
      text-align: end;
      width: 100%;
    }
  }

  //.product-card__bottom{}
  &__bottom {
    opacity: 0;
    visibility: hidden;
    height: 0;
    display: none;
    transition: 0.2s;
    background-color: var(--gx-color-white);

    //.product-card__bottom--sizes{}
    &--sizes {
      display: block;
      width: 100%;

      &>ul {
        display: flex;
        text-decoration: none;
        padding-left: 0;
        flex-wrap: wrap;

        &>li {
          list-style-type: none;

          &:not(:last-child) {
            margin-right: 7px;
          }
        }
      }
    }

    @include mobile {
      // position: absolute;
      // height: 0;
      // opacity: 1;
      // z-index: 2;

      // &--sizes {
      //   display: block;
      //   width: 100%;

      //   &>ul {
      //     display: flex;
      //     text-decoration: none;
      //     padding-left: 0;

      //     &>li {
      //       list-style-type: none;

      //       &:not(:last-child) {
      //         margin-right: 7px;
      //       }
      //     }
      //   }
      // }
    }
  }

  //.product-card__colors{}
  &__colors {
    @include ul;
    @include flex(lc);
    flex-wrap: wrap;
    padding: 10px;

    //.product-card__colors--item{}
    &--item {
      width: 8px;
      height: 8px;
      margin-right: 5px;
      margin-top: 5px;
      border: 1px solid var(--gx-color-darkgray);
      border-radius: 1px;

      &:last-child {
        margin: 5px 0 0;
      }
    }
  }

  //.product-card__link{}
  &__link {
    width: 100%;
    @include flex(cc);
    cursor: pointer;
    padding: 10px 0;
    @extend %font;
    font-weight: bold;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border-top: 2px solid var(--gx-color-gray);
    text-align: center;
    @include mobile {
      display: none;
    }

    &:hover {
      color: var(--gx-color-primary);
      background: rgba(243, 239, 243, 0.5);
    }
  }

  //.product-card__sizes{}
  &__sizes {
    position: relative;

    //.product-card__sizes--item{}
    &--item {
      position: relative;
    }
  }
}


// ?! **********************************************************

.like {
  margin-top: -38px;

  position: relative;

  .heart {
    position: absolute;
    top: -10px;
    left: -11px;
    z-index: 1;
    user-select: none;
    pointer-events: none;
    display: none;
  }

  .line {
    fill: #a39797;

  }

  .second {
    fill: #a39797;
    transform: scale(0);
    transform-origin: 53% 61% 0px;
  }

  .main {
    stroke: #c50000;
    stroke-width: 5px;
    fill: #ffe2ea;
    transform-origin: 50% 50%;
  }

  svg {
    transition: all .2s ease-in-out;
    position: relative;
    overflow: visible;
    z-index: 2;
    cursor: pointer;
  }
}