@import '../../../../styles/variables.scss';

.prodpage-price{
    //.prodpage-price__container{}

    &__container{
        padding: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    //.prodpage-price__mainprice{}
    &__mainprice{
        padding-bottom: 10px;
        font-size: 32px;
        //.prodpage-price__mainprice--old{}
        &--old{
            padding-bottom: 10px;
        }
    }
    //.prodpage-price__recommended{}
    &__recommended{
        display: flex;
        flex-direction: column;
        justify-content: center;
        &> p{
            // padding-bottom: 5px;
            color: var(--gx-color-darkgray2);
            display: flex;
            flex-wrap: wrap;
            font-size: 12px;
            line-height: 17px;
            align-items: center;
            letter-spacing: .04em;
            margin: 0;

            span {
                color: var(--gx-color-red);
                font-weight: 700;
                font-size: 12px;
                letter-spacing: .1em;
                text-transform: uppercase;
            }
        }
    }

}