@import '../../../../../styles/variables.scss';
@import '../../../../../styles/fonts/index.scss';

.catalog {
    &-search {
      display: flex;
      justify-content: flex-end;
      // font-family: Noto Sans;
      @extend %font;
      font-size: 12px;
      line-height: 140%;
      color: #282534;
      margin: 0px;
      //.catalog-search__wrap{}
      &__wrap{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: auto;
        @include laptop-lgm {
          grid-template-columns: repeat(5, 1fr);
        }
        @include tablet-mmd {
          grid-template-columns: repeat(4, 1fr);
        }
        @include tablet-md {
          grid-template-columns: repeat(3, 1fr);
        }
        @include mobile {
          grid-template-columns: repeat(2, 1fr);
        }
      }
      //.
      &__line {
        height: 2px;
        background: #282534;
        margin: 10px auto;
      }
      //.catalog-search__header{}
      &__header {
        // font-family: Noto Sans;
        @extend %font;
        font-weight: bold;
        font-size: 32px;
        line-height: 140%;
        display: flex;
        align-items: center;
        letter-spacing: 0.02em;
        color: #282534;
        margin-top: 28px;
        margin-bottom: 30px;
      }
      &__container{
        margin: auto 13.5%;
        @include mobile {
          margin: auto 10px;
        }
      }
    }
}