logs
*.log
npm-debug.log*
.DS_Store

coverage
node_modules
build
build1
build2
build3
src1
cache
.env.local
.env.development.local
.env.test.local
.env.production.local
.git
.vscode
yarn.lock
yarn-error.log
