@import '../../../styles/variables.scss';

.modal-provider {

    //.modal-provider__close{}
    &__close {
        position: sticky;
        top: 10px;
        left: 95%;
        width: 20px;
        height: 20px;
        border: 1px solid $dg;
        z-index: 10005;
        border-radius: 50%;
        min-width: 20px;
        min-height: 20px;
        @include mobile{
            left: 90%;
        }
        &::after,
        &::before {
            content: '';
            width: 1px;
            height: 100%;
            position: relative;
            display: block;
            background-color: $dg;
        }

        &::after {
            transform: translate(9px, -18px) rotate(45deg);
        }

        &::before {
            transform: translate(8px, 0px) rotate(-45deg);
        }

        &:hover {
            cursor: pointer;
            border: 1px solid $a2;

            &::after {
                background-color: $a2;
            }

            &::before {
                background-color: $a2;
            }
        }
    }

    //.modal-provider__icon{}
    &__icon {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        &>div {
            height: 60px;
            width: 70px;
        }
    }

    //.modal-provider__container
    &__container {
        position: relative;
        // width: 100vw;
        // height: 100vh;
        width: auto;
        transition: all 2s ease-in-out;

        //.modal-provider__container--show{}
        &--show {
            height: 100vh;
            width: 100%;
            position: fixed;

            &::after {
                content: "";
                width: 100%;
                height: 100vh;
                background-color: rgba(0, 0, 0, 0.5);
                z-index: 9999;
                position: fixed;
                display: flex;
                left: 0;
                top: 0;
            }
        }
    }

    //.modal-provider__body{}
    &__body {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        transition: opacity 3s;

        &>.modal-provider__spinner {
            display: none;
        }

        //.modal-provider__body--show{}
        &--show {
            // overflow-y: auto;
            overflow: hidden;
            opacity: 1;
            visibility: visible;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #fff;
            z-index: 10001;
            padding: 10px;
            // min-width: 320px;
            // max-height: 80vh;
            // width: 80vw;
            // display: flex;
            // flex-direction: column;

            // height: 100%;
            border-radius: 7px;
            transition: opacity 3s, visibility 3s;
            // display: grid;
            grid-template-columns: minmax(320px, 80vw);
            min-height: 250px;
            max-height: 80vh;

            @include mobile {
                width: 97%;
                display: flex;
                flex-direction: column;
            }

            &>.modal-provider__spinner {
                display: block;
            }
        }
    }

    //.modal-provider__title{}
    &__title {
        width: 100%;
        margin-top: 15px;
        margin-bottom: 15px;
        flex: 0 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        text-align: center;
        @include mobile{
            // width: calc(100% - 30px);
        }
    }

    //.modal-provider__content{}
    &__content {
        width: 100%;
        padding: 10px;
        font-size: $fontSize;
        letter-spacing: normal;
        flex: 1 1;
        position: relative;
        overflow-y: overlay;
        margin-bottom: 25px;
        @include scrollbar;
        @include mobile{
            // width: calc(100% - 30px);
        }
    }

    //.modal-provider__spinner{}
    &__spinner {
        // position: absolute;
        position: relative;
        left: 33%;
        top: 20%;
        transform: scale(1.5);
        width: 100px;
        animation-name: move-cart;
        animation-duration: 10s;
        animation-iteration-count: infinite;
    }

    //.modal-provider__action-container{}
    &__action-container {
        flex: 0 0;
        width: 100%;
        display: flex;
        min-width: 320px;
        justify-content: space-evenly;
        margin-top: 40px;

        @include mobile {
            flex-direction: column;
            align-items: center;
            width: calc(100% - 30px);
        }
    }
}

.modal {

    //.modal-quick-view-product{}
    &-quick-view-product {
        height: 100%;
    }

    //.modal-feedback{}
    &-feedback {
        padding: 0;
        height: 100%;
        overflow: auto;
    }

    //.modal-file-views{}
    &-file-views {
        padding: 0;
        height: 100%;
        width: 80vw;
    }

    //.modal-add-to-cart{}
    &-add-to-cart {
        // height: 100%;
        padding: 0;

        &:nth-child(3) {
            padding: 0;
        }
    }

    //.modal-choose-number-order{}
    &-choose-number-order {
        padding: 0;
        overflow: inherit;

        &>div.modal-provider__content {
            overflow: initial !important;
        }
    }

    //.modal-payment{}
    &-payment {
        padding: 0;
        height: 100%;
        &>div.modal-provider__content{
            width: calc(100% - 3px);
        }
    }
    //.modal-add-address{}
    &-add-address{
        padding: 0;
        width: 75vw;
        @include mobile{
            width: 100vw;
        }
    }
    //.modal-get-my-cash{}
    &-get-my-cash{
        height: 100%;
        @include mobile-min {
            min-width: 500px;
        }
        &>div.modal-provider__content>form.form {
            height: 60vh;
        }
    }
}

@keyframes move-cart {
    0% {
        left: -120px;
    }

    100% {
        left: 450px;
    }
}