@import '../../../../styles/variables.scss';

.info-pay{
    //.info-pay__wrapper{}
    &__wrapper{
        padding: 0;
    }
    //.info-pay__text{}
    &__text{
        padding: 5px 0;

        //.info-pay__text--grey{}
        &--grey{
            color: $dg2;
            padding: 0 0 5px 0;
        }
    }
}