@import '../../../../../styles/fonts/index.scss';
@import '../../../../../styles/variables.scss';

.help-text {
  // font-family: Noto Sans;
  @extend %font;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  color: var(--gx-color-primary);
  max-width: 475px;
}
.wrapper {
  padding-bottom: 20px;
  @include padding-for-mobile;
}

.wishpage{
    //.wishpage__layout-product{}
    &__layout-product {
      padding-top: 10px;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-auto-flow: row;
      gap: 10px;
      margin-bottom: 50px;
      grid-template-rows: minmax(388px, 1fr);
      @include laptop-sm {
        padding: 10px 15px 0;
      }
      @include tablet-lg {
        grid-template-columns: repeat(4, 1fr);
      }
      @include mobile {
        grid-template-columns: repeat(2, 1fr);
      }
    }
    //.wishpage__link-catalog{}
    &__link-catalog{
        margin-bottom: 60px;
        max-width: 300px;
        background-color: var(--gx-color-primary);
        border-radius: 2px;
        height: 58px;
        display: inline-block;
        text-align: center;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 14px;
        line-height: 140%;
        text-align: center;
        letter-spacing: 0.1em;
        color: var(--gx-color-white);
    }
    &__count-product {
        text-align: right;
        @include laptop-sm {
          padding: 0 15px;
        }
      }
}