@import '../../../styles/variables.scss';

.card-collections{
    //.card-collections__container{}
    &__container{
        padding: 0;
        pointer-events: none;
            // flex: 1 0 20%;
        padding-left: 5px;
        padding-right: 5px;
        background-color: rgb(255, 210, 210);
        border: 2px double rgb(245, 152, 152);
        position: relative;
        margin-bottom: 5px;
        margin-right: 5px;
        min-height: 500px;
        max-width: 300px;
        min-width: 270px;
        display: flex;
        align-items: center;
        overflow: hidden;
        justify-content: space-around;
        width: 100%;
        flex-wrap: wrap;
        box-shadow: inset 3px 3px 20px #bbb1b1,
                    inset -3px -3px 20px #bbb1b1;
    }

    //.card-collections__title-wrap{}
    &__title-wrap{
        padding: 0;
        margin-bottom: 15px;
    }
    //.card-collections__photo-wrap{}
    &__photo-wrap{
        padding: 0;
        margin-bottom: 15px;
    }
    //.card-collections__recommend-wrap{}
    &__recommend-wrap{
        padding: 0;
        margin-bottom: 15px;
        &>div>div>p>span{
            color: $a2;
        }
    }
    //.card-collections__colors-wrap{}
    &__colors-wrap{
        padding: 0;
        margin-bottom: 15px;
        width: 100%;
        padding-left: 15px;
    }
    //.card-collections__sizes-wrap{}
    &__sizes-wrap{
        padding: 0;
    }
}