@import '../../styles/variables/index.scss';
  
  .burger-nav {
    position: absolute;
    top: 0;
    right:0;
    // left: 0;
    bottom: 0;
    width: 100%;
    // height: 100%;
    background-color: #fff;
    // z-index: 4;
    display: flex;
    // flex-direction: row-reverse;
  }
  
  .burger-background {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,.4);
  }
  
  .burger-button {
    outline: none;
    border: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
    position: absolute;
    top: 18px;
    left: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background: transparent;
  }
  
  .burger-ul,
  .burger-li {
    margin: 0;
    padding: 0;
  }
  
  .burger-ul {
    padding: 25px;
    position: relative;
    left: 0;
    width: 90%;
    height: 87%;
    background-color: #fff;//rgb(255, 209, 209);
    border-radius: 20px;
    margin: 6px auto 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    
    &.active{
      opacity: 1;
      visibility: visible;
    }
    //.burger-ul__button-inner{}
    &__button-inner{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 50px;
    }
  }
  
  .burger-li {
    list-style: none;
    margin-bottom: 20px;
    display: flex;
    cursor: pointer;
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    color: #222222;
    &:hover{
      color: rgb(235, 140, 140);
    }
  }
  
  
  .burger-text-placeholder {
    border-radius: 5px;
    width: 100%;
    // height: 35px;
    flex: 1;
    font-size: 24px;
    letter-spacing: .1em;
    // text-wrap: normal;
    overflow: hidden;
    text-align: center;
  }
  
  .burger-refresh {
    padding: 10px;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    width: 20px;
    height: 20px;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .content-about-info__btn{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		margin-top: 0px;
		max-width: 227px;
		width: 100%;
		height: 52px;
		background-color: #000000;
		color: #fff;
		font-family: 'Manrope';
		font-style: normal;
		font-weight: 600;
		font-size: 16px;
		line-height: 26px;
		&:hover{
			background-color: $pi3;
		}
  }

  .text-area-form {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 121px;
    font-family: var(--gx-input-font-family);
    font-weight: var(--gx-input-font-weight);
    line-height: var(--gx-line-height-normal);
    letter-spacing: var(--gx-input-letter-spacing);
    background-color: var(--gx-input-background-color);
    vertical-align: middle;
    transition: var(--gx-transition-fast) color, var(--gx-transition-fast) border, var(--gx-transition-fast) box-shadow;
    cursor: text;
    flex: 1 1 auto;
    color: var(--gx-input-color);
    border-radius: var(--gx-input-border-radius-medium);
    font-size: var(--gx-input-font-size-medium);
    padding: 0.5em var(--gx-input-spacing-medium);
    &::placeholder{
        color: var(--gx-input-placeholder-color);
        user-select: none;
    }
  }