.icons {
    // width: 20px;
    // height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
    width: 100%;
}

.icon-left{
    margin-right: 10px;
}

.icon-right{
    margin-left: 10px;
}