@import '../../../../styles/variables.scss';
@import '../../../../styles/fonts/index.scss';

.export-card{
    max-height: 168px;
    min-height: 168px;
    height: 100%;
    width: 100%;
    position: relative;
    max-width: 120px;
    //.export-card__image{}
    &__image{
        padding: 0;
        display: block;
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
    //.export-card__checkbox{}
    &__checkbox{
        padding: 0;
        max-width: 20px;
        max-height: 20px;
        @include flex(lc);
        position: absolute;
        top: 10px;
        left: 10px;
        background-color: $w;
        border-radius: 4px;
            &> div> label {
                margin: 0;
            }
        }
}

.export {
    //.export__select-wrapper
    &__select-wrapper{
        padding: 0;
        display: flex;
    }
    //.export__select-btn{}
    &__select-btn{
        padding: 0;
        min-width: 200px;
    }
    //.export__select-btn-icon{}
    &__select-btn-icon{
        padding: 0;
    }
}