@import '../../../styles/variables.scss';
@import '../../../styles/fonts/index.scss';

//.input__wrapper{}
.input{
    &__wrapper{
        width: 100%;
        // margin: 0 0 7px 0;
        display: flex;
        justify-content: space-between;
        padding: 10px;
        border: 1px solid $dg2;
        border-radius: 2px;
        // max-height: 40px;
        position: relative;
        margin-bottom: 15px;
    }
    //.input__input{}
    &__input{
        font-size: $fontSize;
        width: 100%;
    }
    //.input__label{}
    &__label{
        font-size: calc($fontSize - 6px);
        color: $p;
        @extend %font;
        margin: 0 0 0 10px;
    }
    //.input__error{}
    &__error{
        position: relative;
        &>input{
            color: $rd;
        }
    }
}


[name=input-search]{
    width: 320px;
    background: transparent;
    margin: 5px;
    padding: 0 12px 0 8px;
    @include tablet-lg{
        width: 100%;
    }
    &::-webkit-input-placeholder {
        /* Edge */
        color: $dg2;
        font-size: $fontSize;

    }
    &:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: $dg2;
        font-size: $fontSize;
    }
    &::placeholder {
        color: $dg2;
        font-size: $fontSize;
    }
}

.input-mt_20{
    margin-bottom: 20px;
}