@import './fonts/index.scss';

:root {
  --gx-color-white: #fff;
  --gx-color-blue: #1e34ff;
  --gx-color-lightmauve: #ec8c97;
  --gx-color-primary: #282534;
  --gx-color-black: #1d1b1e;
  --gx-color-primary2: #4b454b;
  --gx-color-accent: #583f4c;
  --gx-color-accent2: #933468;
  --gx-color-accent2-rgb: 147, 52, 104;
  --gx-color-pink: #ffa6b0;
  --gx-color-pink2: #f2aab3;
  --gx-color-pink3: #fee9eb;
  --gx-color-lightpink: #fcd2d7;
  --gx-color-lightpink-rgb: 252, 210, 215;
  --gx-color-darkgray: #dbd7dc;
  --gx-color-darkgray2: #a5a0a7;
  --gx-color-pre-white: #fbfafb;
  --gx-color-gray: #f3eff3;
  --gx-color-gray2: #f7f4fc;
  --gx-color-red: #e292c8;
  --gx-color-green: #7abb7d;
  --gx-color-palePurple: #faf5f7;
  --gx-input-border-color-focus: var(--gx-color-pink3);
  --gx-focus-ring-box-shadow: transparent;
  --gx-input-color: #282534;
  --gx-input-dark: #3d3b47;
  --icon-width: 24px;
  --icon-height: 24px;
  --gx-color-primary-hue: 0;
  --gx-z-index-dialog: 1000;
  --gx-input-font-family: %font;
  --gx-font-sans: %font;
  --gx-overlay-background-color: #583f4c;
  --textLink: #820c78;
  --line: #BBC1E1;
  --line-active: #275EFE;
  --gx-font-weight: 500;
  --gx-transition-fast: .6s;
  --gx-input-height-medium: auto;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  @extend %font-head;
}

body, html {
  background-color: #fff;
}


.video-react-video {
  width: 100%;
}

img {
  display: initial;
}

.video-react-control-bar,
.video-react-button,
.video-react-loading-spinner {
  display: none;
}



.productdescription__inner-title {
  margin: 0 15px;
}

.select__label {
  color: #000;
}

//.error{}
.error{
  padding: 0;
}

.button--full {
  width: 100%;
}

.button--med {
  font-size: var(--gx-button-font-size-medium);
  height: var(--gx-input-height-medium);
  line-height: var(--gx-input-line-height-medium);
  border-radius: var(--gx-input-border-radius-medium);
  padding: 0 var(--gx-spacing-large);
}

.button {
  display: inline-flex;
  align-items: stretch;
  justify-content: center;
  align-items: center;
  padding: 5px;
  // border: 1px solid;
  @extend %font;
  font-weight: var(--gx-font-weight);
  text-decoration: none;
  user-select: none;
  white-space: nowrap;
  vertical-align: middle;
  transition: var(--gx-transition-fast) background-color, var(--gx-transition-fast) color, var(--gx-transition-fast) border, var(--gx-transition-fast) box-shadow;
  cursor: inherit;

  &:hover {
    cursor: pointer;
  }
}


._flyImage{
  transform: scale(7.2);
  position: fixed;
  opacity: 1;
  z-index: 100;
  transition: all 3s ease 0s;
}

.hidden{
  opacity: 0;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  left: -120%;
  top: 0px;
  pointer-events: all;
  
  &:hover{
    cursor: pointer;
  }
}

div#pdfviewer> div > div.viewer-layout-toolbar > div > div.viewer-toolbar-left,
div#pdfviewer> div > div.viewer-layout-toolbar > div > div.viewer-toolbar-right {
  display: none;
  padding: 0;
}

div#pdfviewer> div > div.viewer-layout-main {
  overflow: auto;
}

.requisites{
  & > p {
    pointer-events: none;
  }
}

.inner-areon{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  animation: pulse-mobile 1.5s infinite;
  transition: background-color .3s, color .3s, box-shadow .3s;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  margin-right: 15px;
}

@keyframes pulse-mobile{
  0%{
    box-shadow: 0 0 0 0 transparentize(#e29a9a, .6)}
  70%{
    box-shadow: 0 0 0 25px transparentize(#e29a9a, 1)}
  100%{
    box-shadow: 0 0 0 0 transparentize(#e29a9a, 1)}
}