@import '../../../styles/fonts/index.scss';
@import '../../../styles/variables/index.scss';

.wrapper {
  display: grid;
  grid-template-columns: 2fr 1.5fr 151px 1fr;
  align-items: center;
  border-radius: 4px;
  padding: 15px;
  grid-column-gap: 10px;
  @include mobile {
    grid-row-gap: 20px;
    padding: 10px;
    grid-template-columns: 1fr;
  }
}
.product {
  &__wrapper {
    &-block {
      display: flex;
      justify-content: flex-start;
      &_right {
        flex: 1 1 auto;
        display: flex;
        justify-content: flex-end;
    @include tablet-md{
        justify-content: flex-start;
    }
    @include mobile {
      justify-content: flex-end;
    }
      }
    }
  }
  &__image_thumb {
    width: 72px;
    height: 97px;
    object-fit: cover;
    padding: 4px;
    margin-right: 10px;
    background-color: var(--gx-color-gray);
  }
  &__base_info {
    display: flex;
    flex-direction: column;
    // font-family: Noto Sans;
    @extend %font;
    font-style: normal;
    min-width: 150px;
    @media (max-width:680px) {
     // min-width: 150px;
     width: 100%;
    }
    &__brand {
      font-weight: 500;
      font-size: 10px;
      line-height: 140%;
      letter-spacing: 0.07em;
      color: var(--gx-color-pink);
    }
    &__title {
      font-weight: normal;
      font-size: 14px;
      line-height: 140%;
      color: var(--gx-color-primary);
      word-break: break-word;
      cursor: pointer;
    }
    &__size {
      font-size: 12px;
      line-height: 140%;
      color: var(--gx-color-darkgray2);
    }
    &__color {
      font-size: 12px;
      line-height: 140%;
      color: var(--gx-color-darkgray2);
    }
    &__condition {
      font-size: 12px;
      line-height: 140%;
      color: var(--gx-color-darkgray2);
      &-content {
        font-size: 12px;
        line-height: 140%;
        //  position: absolute;
        //  left: 40px;
        // не понял прикола с абсолют - у родителя все равно статик, закомментил на всякий случай
        color: var(--gx-color-primary);
      }
    }
  }
  &__sales_info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    @include mobile {
      justify-content: flex-end;
    }
    // font-family: Noto Sans;
    @extend %font;
    font-style: normal;
    &-wrapper {
      display: flex;
      justify-content: flex-end;
      @include mobile {
        flex-wrap: wrap;
      }
      &-column {
        display: flex;
        flex-direction: column;
        margin-left: auto;
      }
    }
    &-terms {
      font-size: 12px;
      line-height: 140%;
      letter-spacing: 0.04em;
      margin-right: 5px;
      color: var(--gx-color-darkgray2);
      @include mobile {
        margin-left: auto;
      }
    }
    &-current_price {
      margin-right: 10px;
      font-weight: bold;
      font-size: 16px;
      line-height: 120%;
      color: var(--gx-color-primary);
      &-empty {
        font-weight: normal;
        font-size: 12px;
        text-decoration: line-through;
      }
      @include mobile {
        // margin-right: auto;
      }
    }
    &-new_price {
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 120%;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: var(--gx-color-red);
    }
  }
  &__inner{
    min-width:250px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;    
    @include tablet-md{
      height: 100%;
      justify-content: start;
      flex-direction: column-reverse;
    }
    @include mobile {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &__count {
    display: flex;
    text-align: center;
    align-items: center;
    &-main{
      flex: 0 0 130px;
      height: 100%;
      display: flex; 
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    @include tablet-md{
      flex: 0 0 30px;
      margin-top: 10px;
    }
    }
    &-input {
      height: 40%;
      color: dimgrey;
      border: none;
      text-align: center;
      justify-content: flex-start;
      width: 45px;
      &::part(input) {
        &::before {
          content: '';
          position: absolute;
          display: block;
          width: 100%;
          height: 100%;
          background-color: transparent;
        }
      }
      &::part(input) {
        margin: 0;
        padding-left: 5px;
        width: 65px;
        text-align: center;
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          -moz-appearance: textfield;
          margin: 0;
        }
      }
      &::part(base) {
        border: 1px solid #f3eff3;
        box-sizing: border-box;
        border-radius: 0px;

        &:focus-within {
          border-radius: 4px;
          box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.05);
        }
      }
    }
    &__in_stock {
      padding: 0 6px;
      margin-top: 10px;
      font-weight: 500;
      text-transform: none;
      // font-family: 'Nato Sans', sans-serif;
      @extend %font;
      font-size: 10px;
      line-height: 14px;
      width: fit-content;
      letter-spacing: 0.03em;
      color: var(--gx-color-accent2);
      background: rgba(247, 244, 252, 0.75);
      border: 1px solid var(--gx-color-accent2);
      z-index: 2;
    }
    &-text {
      padding-top: 5px;
      margin-left: 10px;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 100%;
      letter-spacing: 0.04em;
      color: var(--gx-color-primary);
      // margin-left: 25px;
    }
  }
  &__current_currency {
    font-weight: bold;
    font-size: 16px;
    line-height: 120%;
    text-align: right;
    min-width: 140px;
    // margin-right: 15px;
    color: var(--gx-color-primary);
    @include tablet-md {
      display: flex;
      align-items: end;
    }
  }
  &__delete {
    
    --icon-width: 10px;
    --icon-height: 10px;
    padding-left: 14px;
    width: 100%;
    height: 100%;
    position: relative;
    display: inline-flex;
    align-items: start;
    justify-content: end;
    pointer-events: none;
    &::part(base) {
      width: 30px;
      height: 30px;
      position: relative;
      top: -10px;
      padding: 0;
      pointer-events: painted;
      &:focus {
        box-shadow: none;
      }
    }
    @include mobile {
      display: none;
    }
    &-mobile {
      display: none;
      margin-left: auto;
      height: min-content;
      &::part(base) {
        padding: 0;
      }
      @include mobile {
        display: block;
      }
      &_icon {
        --icon-width: 15px;
        --icon-height: 15px;
      }
    }
  }
}

.wrapper-woosale {
  margin-top: 20px;
  width: 100%;
}
