@import '../../../styles/fonts/index.scss';


//.toolTip__wrapper{}
.toolTip__wrapper {
  position: relative;
  //.toolTip__wrapper-trigger{}
  &-trigger {
    background-color: transparent;
    top: 43px;
    position: absolute;
    right: 9px;
    width: 20px;
    height: 20px;
    z-index: 2;
    &:hover{
      cursor: pointer;
      .toolTip__tooltip {
        visibility: visible;
        opacity: 1;
      }      
    }
    //.toolTip__wrapper-trigger--active{}
    &--active{
      .toolTip__tooltip {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}

.toolTip__tooltip {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: absolute;
  bottom: 0;
  margin-top: 29px;
  right: 5px;
  width: 30px;
  height: auto;
  background-color: var(--gx-color-white);
  font-size: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.11);
  border: 2px solid var(--gx-color-gray);
  padding: 10px 7px;
  min-width: 160px;
  transform: translate(7px, -25px);
  font-size: 12px;
  @extend %font;
  visibility: hidden;
  opacity: 0;
  transition: .6s all cubic-bezier(.9,.03,.69,.22);
  pointer-events: none;
}

