@import '../../styles/fonts/index.scss';
@import '../../styles/variables.scss';

//.news-card{}
.news-card {
  background-color: var(--gx-color-white);
  border: 2px solid var(--gx-color-gray2);
  border-radius: 2px;
  max-height: 230px;
  @include mobile {
    max-height: none;
  }
  &:hover {
    background-color: var(--gx-color-gray2);
    transition: 0.3s;
  }
//.news-card__wrap{}
  &__wrap {
    @include flex(lt);
    align-items: stretch;
    height: 100%;
    @include mobile {
      flex-direction: column;
    }
  }
//.news-card__image{}
  &__image {
    width: 100%;
    max-width: 357px;
    overflow: hidden;
    img {
      display: block;
      object-fit: cover;
      // height: 100%;
    }
    @include mobile {
      max-width: 100%;
    }
  }
  //.news-card__info{}
  &__info {
    @include flexcol(s, n);
    // flex-grow: 1;
    width: 100%;
    padding: 30px;
    @include tablet-md {
      min-width: 50%;
    }
  }
  //.news-card__title{}
  &__title {
    margin-bottom: 3px;
    @extend %font;
    font-size: 24px;
    line-height: 140%;
    text-transform: none;
    text-align-last: left;
    color: var(--gx-color-primary);
    &:hover {
      color: var(--gx-color-primary);
      text-decoration-line: underline;
    }
  }
//.news-card__date{}
  &__date {
    margin: 0;
    // font-family: 'Garamond', serif;
    @extend %font;
    font-size: 24px;
    line-height: 160%;
    text-align: right;
    opacity: 0.6;
  }
}
