@import '../../../styles/variables/index';
@import '../../../styles/fonts/index';

.btn {
  --gx-transition-fast: 0.2s;
  --gx-input-height-medium: auto;

  &::part(base) {
    @include flex('cc');
    outline: none;
    color: $a2;
    border: 1px solid $dg;
    background: transparent;
    box-shadow: none;
    @extend %text-link;
    line-height: 22px;
    padding-left: 8px;
    padding-right: 8px;
    overflow: hidden;

    //              OLD STYLES!
    // @include flex('cc');
    // padding: 2px 20px;
    // outline: none;
    // color: $a2;
    // border: 2px solid $a2;
    // background: transparent;
    // box-shadow: none;
    // border-radius: 2px;
    // @extend %text-btn;
    // min-width: 180px;
    // width: 100%;
    // height: auto;

    &:hover {
      background: $a2;
      color: $w;
    }
    &:active {
      outline: none;
    }
  }
}
