@import '../../../styles/variables/index';
@import '../../../styles/fonts/index';

.btn {
    --gx-transition-fast: .2s;
    --gx-input-height-medium: auto;

    &::part(base) {
        @include flex('cc');
        padding: 2px 20px;
        outline: none;
        color: $p;
        border: 2px solid $p;
        background: transparent;
        box-shadow: none;
        border-radius: 2px;
        @extend %text-btn;
        min-width: 180px;
        width: 100%;
        height: auto;
        overflow: hidden;
        &:hover {
            background: #4B444B;
            color: $w;
        }
        &:active {
            color: $w;
            background: #282534;
            outline: none;
        }
    }
}
