@import '../../../styles/variables.scss';

.btn {
    background-color: transparent;
    height: 58px;
    border-radius: 2px;
    border: 2px solid var(--gx-color-primary2);
    min-width: 286px;
    -ms-flex-align: center;
    align-items: center;
    color: var(--gx-color-accent);
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
}