@import '../../../styles/variables/index';
@import '../../../styles/fonts/index';

.btn {
  --gx-transition-fast: 0.3s;
  --gx-input-height-medium: auto;
  --icon-width: 20px;
  --icon-height: 20px;
  @include flex(lc);

  &::part(base) {
    outline: none;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    padding: 0;
    color: var(--gx-color-blue);
    border: 2px solid transparent;
    background: transparent;
    text-align: right;
    letter-spacing: 0.04em;
    border: 0;
    &:hover {
      color: var(--gx-color-accent2);
    }
    &:active,
    &:focus {
      opacity: 1 !important;
      outline: none !important;
      box-shadow: none !important;
      border: 0 !important;
    }
  }
}

.input-mt_20 {
  margin-bottom: 20px;
}
