@import '../../../../styles/variables.scss';
@import '../../../../styles/fonts/index.scss';

//.main-about{}
.main-about {
  position: relative;
  margin-top: 6px;
//.main-about__container{}
&__container{
  width: 100%;
}
//.main-about__wrap{}
&__wrap{
  width: 100%;
}
//.main-about__bg{}
  &__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50%;
    // background-color: var(--gx-color-white);
    background-color: #F2F2F2;
    z-index: 0;

    &:last-child {
      top: 50%;
      background-color: #F2F2F2;
      // background-color: var(--gx-color-gray2);
    }
  }
//.main-about__content{}
  &__content {
    position: relative;
    padding: 60px 0;
    @include adaptive-value('padding-left', 60, 20, px, 2);
    @include adaptive-value('padding-right', 60, 20, px, 2);
    // background: url(../../images/MainAbout/mainAbout.png);
    background-color: #F2F2F2;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 4px;
    z-index: 1;
    overflow: hidden;
    // @include padding-for-mobile;

    @include tablet-md {
      text-align: center;
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }
//.main-about__title{}
  &__title {
    margin-bottom: 20px;
    text-align: left;
    color: var(--gx-color-accent);
    font-size: 52px;
    letter-spacing: 0.07em;

    @include tablet-md {
      text-align: center;
      // font-size: calc(5vw + 9px);
    }
  }
//.main-about__text{}
  &__text {
    margin: 0;
    margin-bottom: 48px;
    // max-width: 50%;
    @include adaptive-value('max-width', 50, 40, vw, 2);
    font-size: 24px;
    // line-height: 140%;
    @include adaptive-value('line-height', 60, 28, px, 2);
    @include adaptive-value('font-size', 24, 16, px, 2);
    color: var(--gx-color-accent);
    &>div>p{
      font-family: 'Manrope';
      font-style: normal;
      @include adaptive-value('font-size',16,20,px,2);
      @include adaptive-value('line-height',35,15,px,2);
      color: #222222;
      max-width: 600px;
    }
    & p {
      margin-top: 0;

      @include tablet-md {
        font-size: calc(2vw + 11px);
      }
    }

    @include tablet-md {
      max-width: 100%;
    }
  }
//.main-about__link
  &__link {
    display: inline-block;
    text-align: center;
    padding: 18px 30px;
    border: 2px solid var(--gx-color-darkgray);
    border-radius: 2px;
    background-color: var(--gx-color-white);
    text-transform: uppercase;
    // font-family: 'Nato Sans', sans-serif;
    @extend %font;
    font-weight: bold;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--gx-color-accent2);

    &:hover {
      border: 2px solid var(--gx-color-accent2);
      transition: 0.3s;
    }

    &:active {
      color: var(--gx-color-white);
      background-color: var(--gx-color-accent2);
      transition: 0.3s;
    }

    @include tablet-md {
      margin: 0 auto;
      display: block;
      max-width: min-content;
    }
  }
//.main-about__image{}
  &__image {
    position: absolute;
    bottom: 0;
    right: 0;
    @include adaptive-value('right', 0, -500, px, 2);

    width: auto;
    height: auto;
    z-index: -1;

    img {
      display: block;
    }

    @include tablet-md {
      display: none;
    }
  }
}