@import '../../../styles/variables.scss';
@import '../../../styles/fonts/index.scss';

//.breadcrumbs-wrapper{}
.breadcrumbs-wrapper {
  width: 100vw;
  max-width: 1360px;
  min-height: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  margin-bottom: 5px;
  @include laptop-sm {
    padding-left: 15px;
  }
  // @include mobile {
  //   padding-left: 0px;
  // }
  &::after {
    content: '';
    height: 1px;
    border-bottom: 2px solid var(--gx-color-gray);
    width: 100%;
    position: absolute;
    left: 0;
    margin-top: 28px;
  }
  //.breadcrumbs-wrapper__link{}
  &__link {
    @extend %font;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0.04em;
    margin-right: 7px;
    color: var(--gx-color-primary2);
    &:last-child {
      color: var(--gx-color-primary2);
      opacity: 0.5;
    }
    @include mobile {
      padding-right: 10px;
    }
  }
  //.breadcrumbs-wrapper__arrow{}
  &__arrow {
    margin-right: 7px;
  }
}
