.wrapper {
  color: var(--gx-color-darkgray2);
  font-size: 14px;
}
.profile {
  margin-top: 22px;
  margin-bottom: 40px;
  font-size: 12px;
  letter-spacing: 0.04em;
}

.profile-modal-phone {
  color: var(--gx-color-darkgray2);
  margin-top: 22px;
  margin-bottom: 20px;
  font-size: 18px;
  letter-spacing: 0.04em;
}
.profile-modal-advertisement {
  color: var(--gx-color-darkgray2);
  margin-top: 20px;
  margin-bottom: 10px;
  border-top: 3px solid var(--gx-color-darkgray);
  font-size: 16px;
  letter-spacing: 0.04em;
}
.profile-modal-code {
  color: var(--gx-color-darkgray2);
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 18px;
  letter-spacing: 0.04em;
  text-align: center;
}
