@import "../../../../styles/variables.scss";

//.main-news{}
.main-news {
    position: relative;
    padding: 60px 0 96px 0;
    @include padding-for-mobile;
    @include laptop-sm {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    //.main-news__container{}
    &__container{
        width: 100%;
    }
    //.main-news__wrap{}
    &__wrap{
        text-align: left;
        letter-spacing: 0.04em;
        margin-bottom: 25px;        
    }
   //.main-news__list{} 
    &__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
        margin-bottom: 90px;
        position: relative;
        @include tablet-lg {
            grid-template-columns: repeat(1, 1fr);
            margin-bottom: 40px;
        }
    }
}
