@import '../../../../styles/variables.scss';
@import '../../../../styles/fonts/index.scss';

.container {
  width: 100%;
  height: 100%;
  position: relative;
}
.cooperation {
  position: relative;

    // width: 1400px;
    // @include adaptive-value('width',400,150,px,2)
    @include adaptive-value ('width',1400,320,px,2);
    height: 639px;
    margin: 0 auto;
    @media (max-width: 787px) {
      height: 100%;
    }
    @include padding-for-mobile;
    @include tablet-lg {
      padding-top: 30px;
      padding-bottom: 30px;
    }
    @include mobile {
      padding-top: 10px;
      padding-bottom: 0px;
    }
    @include mobile-lg{
      padding: 10px 0 0;
    }
  &-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.3;
    background: url(../../../../images/Cooperation/bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    mix-blend-mode: darken;
    background-position: center;
    left: 0;
    box-shadow: inset -8px 0px 16px rgba(0, 0, 0, 0.1), inset 8px 0px 16px rgba(0, 0, 0, 0.1);
  }
  //.cooperation-bgi{}
  &-bgi{
    width: 100%;
    height: 100%;
    background-position: auto;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    position: relative;
    flex-direction: column;
  }
  //.cooperation-wrap-box-context{}
  &-wrap-box-context{
    & > p {
      line-height: 20px;
      margin-bottom: -5px;
    }
  }
  //.cooperation__inner-title{}
  &__inner-title{
    position: relative;
    height: 110px;
    margin: 0 auto;
    @include adaptive-value('margin-top',67,5,px,2);
    @include adaptive-value('width',750,320,px,2);

    & > h2 {
      font-family: 'Cormorant';
      font-style: normal;
      font-weight: 600;
      @include adaptive-value('font-size',60,44,px,2);
      @include adaptive-value('line-height',60,40,px,2);
      text-align: center;
      // word-break: break-all;
      white-space: pre-nowrap;
    }
  }
  &__title {
    margin-bottom: 14px;
  }
  &__subtitle {
    @include flex(cc);
    margin-bottom: 67px;
    // font-family: 'Garamond', serif;
    @extend %font;
    font-size: 24px;
    line-height: 90%;
    color: var(--gx-color-primary2);
  }
  &-wrap{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    @media (max-width: 787px) {
      flex-direction: column;
    }
    //.cooperation-wrap-box{}
    &-box{
      @include adaptive-value('width',570,320,px,2);
      min-height: 300px;
      background-color: #fff;
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 15px;
      padding-bottom: 20px;

      &:not(:last-child){
        margin-right: 5px;
      }

      //.cooperation-wrap-box-inner{}
      &-inner{
        width: 380px;
        // height: 270px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

      }
      //.cooperation-wrap-box-footnote{}
      &-footnote{
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 13px;
        line-height: 22px;
        text-align: center;
        color: #E6ACB3;
        margin-bottom: 20px;
        margin-top: 20px;
      }
      //.
      &-context{
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        text-align: center;
        color: #222222;
      }
      //.cooperation-wrap-box-title{}
      &-title{
        font-family: 'Cormorant';
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 50px;
        color: #222222;
        text-align: center;
      }
    }
  }
  &-main-wrap {
    @include adaptive-value('margin-top',77,22,px,2)
  }
}
.content-about-info__btn{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		margin-top: 0px;
		max-width: 227px;
		width: 100%;
		height: 52px;
		background-color: #000000;
		color: #fff;
		font-family: 'Manrope';
		font-style: normal;
		font-weight: 600;
		font-size: 16px;
		line-height: 26px;
		&:hover{
			background-color: $pi3;
		}
}