@import '../../../styles/variables/index.scss';
@import '../../../styles/fonts/index.scss';
.widget {
  &__wrap {
    //   УБРАТЬ display: none;
    //   display: none;
    //   УБРАТЬ display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    max-width: 500px;
    // height: 100%;
    z-index: 10000000;
    width: 100%;
    @include mobile {
      max-width: 100%;
    }
  }
  &__chat {
    box-shadow: 0px 0px 44px rgba(0, 0, 0, 0.15);
    height: 100%;
    display: flex;
    flex-direction: column;
    &_head {
      display: flex;
      // @include flex(sc);
      padding: 20px;
      background-color: $a2;
      &_text {
        @extend %font-head;
        color: $w;
        font-weight: bold;
        font-size: 28px;
        line-height: 120%;
        letter-spacing: 0.08em;
        min-width: max-content;
      }
      &_btn {
        margin-left: 20px;
      }
      &_icon {
        color: $w;
        opacity: 0.8;
      }
      //.widget__chat_head_buttons
      &_buttons{
        display: flex;
        justify-content: space-between;
        padding-left: 5px;
        padding-right: 5px;
        width: 100%;
      }
    }
    &_field {
      min-height: 450px;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      padding: 15px 10px;
      background-color: $w;
      height: 100%;

      // Scrollbar styles
      // moz
      scrollbar-color: rgba(147, 52, 104, 0.3) rgba(252, 210, 215, 0.3); /* «цвет ползунка» «цвет полосы скроллбара» */
      scrollbar-width: thin;
      // webkit
      &::-webkit-scrollbar {
        width: 4px;
        background-color: rgba(40, 37, 52, 0.1); /* «цвет полосы скроллбара» */
      }
      &::-webkit-scrollbar-thumb {
        background-color: rgba(147, 52, 104, 0.3); /* «цвет ползунка» */
      }
    }
    &_send {
      background-color: $w;
    }
    &message {
      border-radius: 10px;
      padding: 10px;
      width: 95%;
      margin-bottom: 10px;
      &-admin {
        align-self: flex-start;
        background-color: rgba(var(--gx-color-accent2-rgb), 0.3);
      }
      &-full {
        border-radius: 10px;
        padding: 10px;
        width: 100%;
        margin-bottom: 10px;
      }
      &-user {
        align-self: flex-end;
        background-color: $g2;
      }
      &-notify {
        margin: 0;
        font-weight: bold;
        font-size: 14px;
        line-height: 140%;
        letter-spacing: 0.02em;
        color: $a2;
      }
      &_wrapper {
        @include flex(sc);
        margin-bottom: 5px;
      }
      &_name {
        color: $a2;
        font-weight: bold;
        line-height: 140%;
      }
      &_date {
        // color: $p;
        opacity: 0.5;
      }
      &_text {
        margin: 0;
      }
    }
    &_button {
      align-self: flex-end;
      margin-bottom: 10px;
      &::part(base) {
        background-color: $g2;
        border: 1px solid $a2;
        padding: 13px;
        min-height: 47px;
        border-radius: 10px;
        min-width: 190px;
      }
      &::part(label) {
        font-size: 14px;
        line-height: 140%;
        color: $a2;
      }
      &:hover {
        &::part(base) {
          background-color: $a2;
        }
        &::part(label) {
          color: $w;
        }
      }
      &-text {
        margin-bottom: 10px;
        background-color: $g2;
        border: 1px solid $a2;
        padding: 13px;
        min-height: 47px;
        border-radius: 10px;
        min-width: 190px;
        font-size: 14px;
        line-height: 140%;
        color: $a2;
        width: 100%;
        text-align: center;
        &:hover {
          background-color: $a2;
          color: $w;
        }
      }
    }
    &_send {
      &_form {
        box-shadow: 0px 0px 34px rgba(0, 0, 0, 0.1);
        padding-top: 6px;
        padding-right: 18px;
        padding-bottom: 6px;
        padding-left: 6px;
        @include flex(sc);
      }
      &_input {
        width: 100%;
        &::part(base) {
          border: none;
        }
        &::part(input) {
          @include mobile-sm {
            margin: 0;
          }
        }
      }
      &_btn {
        &::part(base) {
          border: none;
          padding: 0;
          &:hover {
          }
        }
      }
      &_sendbtn {
        margin-left: 18px;
      }
    }
    &_details {
      width: 100%;
    }
    &_summary {
      display: block;
      width: 100%;
      cursor: pointer;
      &::-webkit-details-marker {
        display: none;
      }
    }
  }
  &__form {
    &_wrap {
      margin-top: 10px;
    }
    &_input {
      margin-bottom: 10px;
      &::part(base) {
        border: 2px solid $pil;
      }
      &:hover {
        &::part(base) {
          border: 2px solid $a2;
        }
      }
    }
    &_btnwrap {
      width: max-content;
      margin-left: auto;
    }
  }
}

.topbtn {
  &__wrap {
    // display: flex;
    // flex-direction: column;
    position: fixed;
    bottom: 10px;
    right: 120px;
    width: max-content;
  }
  &__button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  &__icon {
    transform: rotate(180deg);
    color: $a;
  }
  &__text {
    margin: 0;
    text-transform: uppercase;
    color: $a;
  }
}
